<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
    />
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark fixed-top">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3 text-white" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='assets/img/cca_logo.png') }}" width="50">
                <span class="heading">CHAMPIONS TRANSFORMATION ACADEMY</span>
            </a>
        </nav>
    {% block content %}{% endblock %}
  <br><br><br>
  <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-dark mt-auto fixed-bottom">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-light">Copyright &copy; x-Zelcoders {{ year }}</div>
                            <div class="text-light">
                                <a href="#" class="text-light">Privacy Policy</a>
                                &middot;
                                <a href="#" class="text-light">Terms &amp; Conditions</a>
                                &middot;
                                <a href="#" class="text-light">Contact Admin</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
  </body>
</html>
