{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">

  <br><br><br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="description" style="color:red;">{{ message }}</p>
    {% endfor %}
    {% else %}
    <p class="description">{{ description }}</p>
    {% endif %}
    {% endwith %}

   
  <div class="card" >
      <div class="card-header" style="position:sticky; top:0;">
          <h3 class="text-center font-weight-light my-4">{{ title }}</h3>
          <div id="countdown">
              <strong>Duration: <span id="minutes" style="color:green"></span>:<span id="seconds" style="color:green"></span></strong>
          </div>
      </div>
      <div class="card-body">
          <form method="post" action="{{ url_for('exam', course_code=course.course_code) }}">
              {% for question in questions %}
              <p>{{ question['question_no'] }}. {{ question['question'] }}</p>
              {% for option in question['options'] %}
              <input type="radio" name="question_{{ question['question_no'] }}" value="{{ option }}">{{ option }}<br>
              {% endfor %}
              <br><br>
              {% endfor %}
              <button type="submit" id="myButton">Submit</button>
          </form>
      </div>
  </div>
</div>
<div class="container text-center add">
<!--<a href="{{ url_for('dashboard') }}" class="button">Back to Dasboard</a>-->
</div>

<script>
    function startTimer(durationInMinutes) {
        let timer = durationInMinutes * 60;
        const minutesDisplay = document.getElementById('minutes');
        const secondsDisplay = document.getElementById('seconds');

        function updateTimerDisplay() {
            const minutes = Math.floor(timer / 60);
            const seconds = timer % 60;
            minutesDisplay.textContent = String(minutes).padStart(2, '0');
            secondsDisplay.textContent = String(seconds).padStart(2, '0');

            if (timer < 300) {
                minutesDisplay.setAttribute("style", "color:red")
                secondsDisplay.setAttribute("style", "color:red")
            }

            if (timer <= 0) {
                clearInterval(interval);
                minutesDisplay.textContent = "00";
                secondsDisplay.textContent = "00";

                const button = document.getElementById('myButton');
                button.click();
                return;
            }
            timer--;
        }

        updateTimerDisplay();
        const interval = setInterval(updateTimerDisplay, 1000);
    }

    startTimer(20);
</script>
{% endblock %}